*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

html {
  background: url("./image/background.jpg");
  background-size: auto;
  background-repeat: no-repeat;
}
/* BODY */
body {
}

.keys {
  flex: 1;
  color: white;
  margin-top: calc(50vh - 4rem);
  text-align: center;
}

.keys .key {
  display: inline-block;
  width: auto;
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  background: rgb(54, 54, 54);
  text-shadow: 0 0 .5rem black;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffcfcf;
}

.playing {
  transform: scale(1.3);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
}